{% extends 'base.html' %}

{% block title %}HM_Cocktails | {{ titulo }}{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container px-4'>

        <h3>{{ titulo }}</h3>

        <div class='row justify-content-center'>

        {% for cocteles in cocktails %}
            <div class='col-sm-12 col-md-12 col-lg-4 col-xl-3 d-flex align-items-stretch'>
                <div class='card bg-secondary mb-3'>
                    <a href='#'>
                        <img 
                            src="{{ coctel.image.image.url|default:'../../static/images/no_image.png' }}" 
                            class='img-fluid'
                            alt='coctel image'
                        >
                    </a>
            
                    <div class='card-body'>
                        <h4 class='card-title'>
               
                            <strong>{{ coctel.name }}</strong>
                        </h4>

                        <p class='card-text'>
                            <div class='my-3'>
                    
                                Componente: {{ coctel.componente }}
                            </div>
                        </p>

                        <p class='card-text'>
                            <div class='my-3'>
                            
                                <strong>{{ coctel.esAlcoholico}} Alcohol</strong> in {{ coctel.quantity|floatformat:0 }} grams
                            </div>
                        </p>

                        <p class='card-text'>
                            <div class='my-3'>
                                <a href="{% url 'coctel_receta' coctel.id %}" type='button' class='btn btn-link'>
                                    Receta
                                </a>
                            </div>
                        </p>
                    </div>

                </div>
            </div>

        {% endfor %}

    
    </div>
</div>
{% endblock %}