{% extends 'base.html' %}

{% block title %}HM_Cocktails | Inicio Sesion{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container px-4'>
        <div class='d-flex justify-content-center'>
            <h3>Iniciar Sesion</h3>
        </div>

        {% if mensaje %}
            <div>{{ mensaje }}</div>
        {% endif %}

        <div class='row'>
            <div class='col-lg-6 offset-lg-3'>
                <div class='card bg-secondary mb-3'>
                    <div class='card-body'>
    
                        <div class='form-group'>

                            <form action="{% url 'login' %}" method='post'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <label for='inputUsername' class='form-label mt-4'>
                                        Nombre de Usuario
                                    </label>
                                    <input type='text' name='username' class='form-control' id='inputUsername' placeholder='Usuario' autofocus>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword1' class='form-label mt-4'>
                                        Password
                                    </label>
                                    <input type='password' name='password' class='form-control' id='inputPassword1' placeholder='Password'>
                                </div>

                                <div class='form-group mt-4'>
                                    <button type='submit' class='btn btn-danger'>
                                        Iniciar Sesion
                                    </button>
                                </div>
                            </form>

                            <div class='mt-2'>
                                No tienes una cuenta? <a href="{% url 'register' %}" type='button' class='btn btn-link'>
                                    Registrate
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}